body{
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url("/home/cybrosys/Desktop/assignments/validation/pexels-lumn-316466.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

th, td {
    text-align: left;
    padding: 7px;
  } 

  th {
    background-color: rgb(133, 136, 136);
    color: white;
  }
    td {
    background-color: white;
    color: rgb(133, 136, 136);
  } 
  
table { 
    border: 1px solid #ddd;
    border-collapse: separate;
    border-left: 4px;
    border-radius: 4px;
    border-spacing: 4px;
    background-color:"";
}
#welcome{
  margin-top: 0;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 6px;
}

h2 {
  color: rgb(133, 136, 136);
}
p{
  color: rgb(150, 0, 0);
}
#eye{
  margin-left: -30px; 
cursor: pointer;
}
#eyetwo{
  margin-left: -30px; 
cursor: pointer;
}

/* input{
    padding :12px 20px;
  font-size :1rem;
  border-width :calc(var(--border-width) * 1px);
  border-style: solid;
  border-color :var(--accent);
  border-radius :calc(var(--border-radius) * 1px);
  text-align: center;
  outline: transparent;
  width :100%;
} */

#DateOfBirth{
  padding :10px 55px;
}

.btn{
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 50px;
    font-family: Helvetica;
    border-bottom: 5px solid rgb(133, 136, 136);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgb(133, 136, 136);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px grey;
    transition: 150ms ease;
    font-weight: bold;
  }
  
  .btn:active{
    border: none;
    border-bottom: 2px solid black;
    box-shadow: 0px 1px 5px grey;
    background: black;
    color: #FFF;
  }
  textarea{
    text-align: center;
    outline: transparent;
    border-style: solid;
    border-color :rgb(133, 136, 136);
    padding :15px 40px;
  }
  
  input{
      text-align: center;
      outline: transparent;
      border-style: solid;
      border-color :rgb(133, 136, 136);
      padding :10px 10px;
  }
  input:hover{
      border-color: #f16775;
  }
  textarea:hover{
      border-color: #f16775;
  }

